# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Zip files that might be dowrloaded at some point
*.zip

Other files
*.csv

# Compressed files
/*.tar.gz

# Practicals folder (I'm orienting myself on it, so convenient to have in same folder)
Practicals/
Results/
Papers/
runs_10class/
Segmentation_test/

# Folder with the dataset (I have it unzipped on my disk for exploration)
inaturalist_12K/

# Segmentation models
*.pth
container_sam.def
